# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
.venv/
.env/
.env

# Distribution / packaging
*.egg-info/
dist/
build/

# ========================
# Django
# ========================
db.sqlite3
db.sqlite3-journal
*.log
media/
staticfiles/

# ========================
# C++ compiled binaries
# ========================
*.exe
*.out
*.o
*.obj

# ========================
# IDE / Editor
# ========================
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
tempCodeRunnerFile*

# ========================
# OS
# ========================
Desktop.ini
ehthumbs.db
.vercel
.env*.local
node_modules/
package-lock.json 

# Generated achievement badges
game/generated_badges/
